.body

	%hr.tag.red
	%img.tag{src:"/assets/tag-calendar.png"}
	%h2.red.tag-headline Event Calendar
	%br.clear

	= render "events/index"


.sidebar.pad
	= render "layouts/subnav"

	= render "spotlight", spotlight: @page.spotlight

