.event-item{
	.date{
		background: #af292e;
		color:#fff;
		padding:20px;
		text-align: center;
		font-family: 'Sanchez', serif;
		height: 105px;
	}
	.weekday{
		margin-top: 20px;
		text-transform: uppercase;
	}
	.date-text{
		font-size: 2em;
		line-height: 1.5em;
	}
	.thumb{
		border:solid 10px #eee;
	}
}
.event-details{
	margin: 10px 0;
	td h4{
		line-height: 1em;
		margin:0;
		font-size: 1em;
		font-style: italic;
		color: #000;
		margin-right: 10px;
	}
	td{
		color: #999;
	}
}
a.submit-event, .modal a.btn{
	display: block;
	text-shadow: none;
	color: #fff;
	padding:5px 10px 5px 40px;
	border-radius: 0;
	background: #91c376;
	box-shadow: none;
	border:none;
}
.modal a.btn-primary{
	background: #b12029;
}
.modal .btn:hover{
	background-color: #666;
}
a.submit-event{
	background: url(/assets/icon-calendar.png) 5px 4px no-repeat #b12029;
}
a.submit-event:hover{
	background-color:#91c376;
	text-decoration: none;
	color:#fff;
}