.event-item{
	.date{
		background: #af292e;
		color:#fff;
		padding:20px;
		text-align: center;
		font-family: 'Sanchez', serif;
		height: 105px;
	}
	.weekday{
		margin-top: 20px;
		text-transform: uppercase;
	}
	.date-text{
		font-size: 2em;
		line-height: 1.5em;
	}
	.thumb{
		border:solid 10px #eee;
	}
}
.event-details{
	margin: 10px 0;
	td h4{
		line-height: 1em;
		margin:0;
		font-size: 1em;
		font-style: italic;
		color: #000;
		margin-right: 10px;
	}
	td{
		color: #999;
	}
}
a.submit-event, .modal.ppm-modal .btn{
	display: block;
	text-shadow: none;
	color: #fff;
	padding:5px 10px 5px 40px;
	border-radius: 0;
	background: #91c376;
	box-shadow: none;
	border:none;
}
.modal.ppm-modal .btn-primary{
	background: #b12029;
}
.modal.ppm-modal .btn:hover{
	background-color: #666;
}
a.submit-event{
	background: url(/assets/icon-calendar.png) 5px 4px no-repeat #b12029;
}
a.submit-event:hover{
	background-color:#91c376;
	text-decoration: none;
	color:#fff;
}

.modal.ppm-modal{max-height: 80%; overflow: auto;}
.modal.ppm-modal input, .modal.ppm-modal textarea{width:100%; background:none;}
.modal.ppm-modal input[type=radio]{width:15px; margin-right:1px}
label.radio{margin-right:20px; padding:0}
.modal.ppm-modal textarea{height:100px}
.modal.ppm-modal form select{width:auto; background-image:none;}
.modal.ppm-modal label{display:inline-block}
.modal.ppm-modal input[type=text], .modal.ppm-modal textarea{border: solid 1px #91c376; border-radius:0}
.modal.ppm-modal input[type=file]{border:none; border-radius:0}
.modal.ppm-modal .modal-body{max-height:none}
.modal.ppm-modal{border-radius:0}
.modal.ppm-modal .modal-body{padding: 0 20px}
.modal.ppm-modal hr{margin: 0 -20px 20px -20px}