/*
font-family: 'Fjalla One', sans-serif;
font-family: 'Sanchez', serif;
font-family: 'Quattrocento Sans', sans-serif;

.orange{ color: #f28b00; }
.yellow{ color: #eec773; }
.green{ color: #91c376; }
.red{ color: #b12029; }
.grey{ color: #777; }

*/

body{
	border-top: solid 15px #b2de9a;
	font-family: 'Quattrocento Sans', sans-serif;
	iframe{
		height: inherit !important;
		display: block;
	}
}
h1, h2, h3, h4{
	font-family: 'Sanchez', serif;
}
.logo-header{
	padding: 20px 0 11px;
	position: relative;
}
.ppm-foundation{
	position: absolute;
	right: -5px;
	bottom: 0;
}
.logo{
	background: url(/assets/logo.png) top left no-repeat;
	width: 197px;
	height: 142px;
	display: inline-block;
}
hr.edges{
	border: none;
	background: url(/assets/hr-edges.png) center center no-repeat;
	height:20px;
	clear: both;
}
hr.tag{
	margin-bottom: 0px;
}
a{
	color: #b12029;
}
a:hover{
	color: #91c376;
}
a.btn2{
	display: inline-block;
	padding: 7px 25px;
	background: #ccc;
	color: #fff;
	text-transform: uppercase;
	font-size: .9em;
	img{
		margin-right: 5px;
		margin-top: -4px;
		margin-left: -5px;
	}
}
a.btn2:hover{
	text-decoration: none;
	background: #999;
}
a.btn2-green{
	background: #91c376;
}
div.social{
	height: 39px;
	clear: both;
	position: relative;
	ul.tags{
		list-style: none;
		position: absolute;
		z-index: 1;
		/*margin-left: 387.5px;*/
		right: 10px;
		li{
			margin-right: 5px;
			float: left;
			a{
				display: block;
				width:39px;
				height:39px;
			}
			a:hover{
				opacity: 0.9;
			}
			.twitter{	background: url(/assets/tags-twitter-red.png) no-repeat top center	}
			.facebook{	background: url(/assets/tags-facebook-red.png) no-repeat top center	}
			.pinterest{	background: url(/assets/tags-pinterest-red.png) no-repeat top center	}
			.tumblr{	background: url(/assets/tags-tumblr-red.png) no-repeat top center	}
			.instagram{	background: url(/assets/tags-instagram-red.png) no-repeat top center	}
		}
		li.connect-arrow{
			margin-left: -20px;
			a{
				width:auto;	
			}
		}
	}
}
ul.top-tags{
	float: right;
	margin-top: -15px;
	list-style: none;
	position: relative;
	z-index: 1;
	li{
		float: left;
		margin-right: 10px;
		a{
			display: block;
			width:55px;
			height:56px;
		}
		a:hover{
			opacity: 0.9;
		}
		.news{	background: url(/assets/tags-news-green.gif) no-repeat top center	}
	}
	li.connect-arrow{
		margin-right: -6px;
		z-index: 1;
		position: relative;
		a{
			width:auto;	
		}
	}
}
#top-search{
	margin: 15px -45px 0 0;
	float: right;
	display: none;
	input{
		background: #ececeb;
		width: 162px;
		border-radius: 0;
		border: none;
		padding: 7px 10px;
		height: 13px;
		font-size: 12px;
		box-shadow: none;
		margin: 0;
		position: relative;
		z-index: 1;
	}
	::-webkit-input-placeholder { /* WebKit browsers */
		font-family: 'Sanchez', serif;
		font-style: italic;
	}
	:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
		font-family: 'Sanchez', serif;
		font-style: italic;
		opacity:  1;
	}
	::-moz-placeholder { /* Mozilla Firefox 19+ */
		font-family: 'Sanchez', serif;
		font-style: italic;
		opacity:  1;
	}
	:-ms-input-placeholder { /* Internet Explorer 10+ */
		font-family: 'Sanchez', serif;
		font-style: italic;
	}
}
.navbar.header{
	border-top: solid 1px #f28b00;
	height:30px;
	margin:0;
	.nav>li>a{
		font-family: 'Fjalla One', sans-serif;
		color: #c23c33;
		text-shadow: none;
		font-size: 1.6em;
		text-transform: uppercase;
		padding: 2px 15px 0px 5px;
		margin: 4px 23px 0 0;
		border-left: solid 1px #f28b00;
		background: url(/assets/header-nav-down-arrow.gif) right center no-repeat;
		white-space: nowrap;
		letter-spacing: -.015em;
		line-height: 23px;
	}
	.nav>li>a:hover, .nav>li>a.active{
		color: #f28b00;
	}
	.nav>li:first-child>a{
		border-left: none;
		padding-left: 0;
	}
	.nav>li:last-child>a{
		margin-right: 0;
	}
	.nav{
		width: 103%;
	}
}
.navbar.secondary{
	background: url(/assets/secondary-nav-bg.png) no-repeat;
	height: 40px;
	margin: -2px 0 0 -31px;
	width: 990px;
	padding: 0px 30px;
	.nav>li>a{
		font-family: 'Sanchez', serif;
		color: #fff;
		text-shadow: none;
		padding: 6px 33px 7px 20px;
		margin: 3px 10px 0;
		background: url(/assets/sub-nav-down-arrow.png) right center no-repeat;
		border-left: solid 1px #fff;
		font-style: italic;
		white-space: nowrap;
		font-size: 15px;
	}
	.nav>li>a.directory{
		padding-left: 50px;
		padding-right: 50px;
		background: none;
		border: none;
	}
	.nav>li>a.directory:hover, .nav>li>a.directory.active{
		color: #f28b00;
	}
	.nav>li>a:hover, .nav>li>a.active{
		opacity:0.8;
	}
	.nav>li:first-child>a{
		border-left: none;
		padding-left: 0;
	}
	.nav>li>a.active{
		color:#b12029;
	}
}
.container{
	width:980px;
}
.content{
	clear: both;
	background: url(/assets/content-bg.gif);
	/*overflow: auto;*/
	width:980px;
	padding: 0 35px;
	margin-left: -35px;
	/*padding-bottom: 10px;*/
	.body{
		float:left;
		width:710px;
	}
	.sidebar.pad{
		width:240px;
		padding: 0 10px;
	}
	.sidebar{
		float: left;
		width:260px;
		margin-left: 10px;
		.atrium{
			background: url(/assets/side-atrium.png) no-repeat top left;
			background-size: contain;
			position: absolute;
			width: 261px;
		}
		.atrium .tag{
			border-top: 7px #b12029 solid;
			margin: 0;
		}
		.atrium h4, .atrium img, .atrium a{
			display: none;
		}
		.atrium .indent {
			padding-top: 130px;
		}
		.atrium a[role="button"], .atrium .arrow{
			display: inline;
		}
		img{
			margin-bottom: 10px;
		}
		.indent{
			font-size: .9em;
			color: #777;
			li, p{
				line-height: 1.3em;
			}
		}
		h3{
			text-transform: uppercase;
			font-family: 'Fjalla One', sans-serif;
			text-align: center;
			font-size: 1.5em;
		}
		.nav{
			min-height: 275px;
			text-align: center;
			a{
				font-family: 'Sanchez', serif;
				color:#b12029;
				padding: 7px;
				font-weight: bold;
				font-style: italic;
			}
			a:hover, a.active{
				background: #fff;
				color:#f28b00;
				text-decoration: none;
			}
			li{
				border-top: solid 1px #b12029;
				ul{
					list-style: none;
					padding:0px;
					margin:0;
					padding-bottom: 5px;
					li{
						border:none;
						a{
							display: block;
							font-size: .8em;
							padding: 4px;
						}
					}
				}
			}
		} 
	}
}
footer{
	background: #c23c33;
	color:#fff;
	padding: 10px 0 30px;
	.navbar{
		/*overflow: auto;*/
		height:50px;
		/*width:790px;*/
		padding: 0 30px;
		background: url(/assets/footer-banner.png) no-repeat center center;
	}
	.navbar .nav{
		margin-top: 7px;
		margin-left: 20px;
	}
	.navbar .nav>li{
		border-right: solid 1px #fff;
		padding: 0 15px;
		margin-top: 10px;	
	}
	.navbar .nav>li:last-child{
		padding-right: 0;
		border: none;
	}
	.navbar .nav>li>a{
		color: #fff;
		text-shadow: none;
		font-family: 'Sanchez', serif;
		font-size: 1.2em;
		padding: 0 25px 0 0;
		background: url(/assets/footer-arrow.png) right bottom no-repeat;
		white-space: nowrap;
		line-height: 1em;
	}
	.navbar .nav>.active>a:hover, .navbar .nav>.active>a, .navbar .nav>.active>a:focus,
	.navbar .nav>li>a:hover, .navbar .nav>li>a:focus{
		color: #e66961;
		background-color: transparent;
		/*opacity:0.5;*/
	}
	.copyright {
		font-size: 10px;
		line-height: 11px;
		float: left;
		margin-left: -100px;
		margin-right: 50px;
		margin-top: 8px;
	}
}
.market-directory-searchbox{
	margin-top: -14px;
	position: absolute;
	z-index: 999;
	background: #f28b00;
	width:261px;
	img{
		max-width: none;
	}
	form{
		padding: 10px 20px;
		margin-bottom: 0px;
		color: #fff;
		strong{
			display: block;
			font-size: .9em;
			text-transform: uppercase;
			margin-bottom: 5px;
		}
		select{
			border: none;
			color:#fff;
			-webkit-appearance: none;
			line-height: 1em;
			text-transform: uppercase;
			font-family: 'Quattrocento Sans', sans-serif;
			background: #f5c65d url(/assets/select-arrow.png) right center no-repeat;
		}
		input{
			border: none;
			background: #fff url(/assets/search-arrow.png) right center no-repeat;	
		}
	}
}
/*.dropdown-menu{
	padding: 0px;
	border:none;
	background: none;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	min-width: none;
}*/
.nav>.dropdown-submenu>a:after{
	border: none;
}
.nav>.dropdown-submenu>.dropdown-menu{
	/*margin-top: 29px;*/
	/*margin-left: -160px;*/
	left: 0;
	top: 35px;
}
.secondary>.nav>.dropdown-submenu>.dropdown-menu{
	left: 11px;
}
.body, .sidebar{
	padding-bottom: 20px;
}
ul.feed{
	list-style: none;
	margin-left:0;
	padding-left: 0;
	height:258px;
	li{
		margin-left: 100px;
		margin-top: 20px;
		height: 70px;
		.img{
			float:left;
			width:90px;
			height:70px;
			margin-left: -100px;
			border:solid 1px #ccc;
			background-size: cover;
		}
	}
}
.indent{
	padding-left: 15px;
}
a.arrow{
	display: inline-block;
	padding-right: 20px;
	background: url(/assets/small-arrow.png) right center no-repeat;
}
a.arrow-white{
	background: url(/assets/small-arrow-white.png) right center no-repeat;
}
img.tag{
	float: left;
	margin: -8px 15px 10px 15px;
}
.tag-headline{
	/*margin-top: -10px;*/
	line-height: 1em;
	margin-bottom: 20px;
}
.info-thumb .info{
	background: #79a362;
	opacity:.95;
	padding:10px;
	padding-top: 0;
	margin-top: -45px;
	height:35px;
	overflow: hidden;
	color: #fff;
	a{
		color: #fff;
	}
	h3{
		line-height: 1.3em;
		font-size: 1.3em;
		margin-bottom: 15px;
	}
	h3, p{
		color:#fff;
	}
}
.accordion-heading.arrows{
	background: #91c376 url(/assets/arrow-white-right.png) 97% center no-repeat;
	font-family: 'Sanchez', serif;
	a{
		color: #fff;
		font-weight: bold;
	}
	a:hover{
		text-decoration: none;
	}
}
.accordion-heading.arrows.active{
	background-image: url(/assets/arrow-white-down.png);
}
.accordion-group.arrows:nth-child(even) .accordion-heading.arrows{
	background-color:#bfd3a0;
}
.accordion-group .accordion-heading.arrows:hover{
	background-color: #eec773;
	background-image: url(/assets/arrow-white-down.png);
}
.accordion-group.main{
	border:none;
}
#accordion-main{
	border-bottom:solid 1px #91c376;
}
.accordion-heading.main{
	background: url(/assets/arrow-green-right.png) 97% center no-repeat;
	font-size: 2em;
	font-family: 'Sanchez', serif;
	line-height: 1.4em;
	border-top:solid 1px #91c376;
	a{
		color:#91c376;	
		padding-left: 70px;	
		background: 20px center no-repeat;
	}
	a:hover{
		text-decoration: none;
	}
}
.accordion-heading.main:hover{
	background-image: url(/assets/arrow-green-down.png);
}
.accordion-heading.main.active{
	background-image: url(/assets/arrow-green-down.png);
}
.btn-mini{
	padding: 0 4px;
	line-height: 1.6em;
	opacity:.75;
}
/* Kill blue hovers on IE in navs */
.dropdown-menu > li:hover > a, 
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, 
.dropdown-menu > li > a.active, .dropdown-menu > li > a.active:hover,
.dropdown-menu > li a.active:hover,
.nav > li:hover > a,
.nav > li > a:hover, .nav > li > a:focus, .nav > li > a.active,
.nav > li > a.active, .nav > li > a.active:hover{
  background-color: none;
  background-image: none;
  filter: none;
}
.navbar .nav>.active>a, .navbar .nav>.active>a:hover, .navbar .nav>.active>a:focus{
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
}
.top-navs, footer{
	.nav > .dropdown-submenu > .dropdown-menu{
		top:36px;
	}
	.dropdown-menu{
		background: #b12029;
		border:none;
		border-radius: 0;
		box-shadow: none;
		li{
			margin: 0 15px;
			border-bottom: solid 1px #f28b00;
		}
		li:last-child{
			border: none;
		}
		a{
			color: #fff;
			padding: 10px 10px;
			font-family: 'Sanchez', serif;
			font-style: italic;
		}
		a:hover, a:focus, a.active{
			background: none;
			color: #f28b00;
		}
		li:hover a{
			background: none;
		}
	}
}
.nav > .dropdown-submenu .dropdown-menu{
	border-radius:0;
}
.secondary .dropdown-menu{
	background: #f28b00;
	font-size: .9em;
	li{
		border-bottom: solid 1px #f5c65d;
	}
	a:hover{
		color: #efc865;
	}
	a.active{
		color: #b12029;
	}
}
#e-news{
/*	position:absolute;
	right: 100px;
	top: 0;*/
	position: relative;
	z-index: 100;
	float: right;
	margin-top: -15px;
	margin-bottom: -200px;
	margin-left: -400px;
	margin-right: 142px;
	background: #91c376;
	content: #fff;
	padding: 0 20px;
	padding-top: 10px;
	input{
		border-radius: 0;
		margin:0;
	}
	h4, p{
		color: #fff;
		line-height: 1em;
	}
	input{
		width:130px;
	}
	.submit{
		width:40px;
		float: right;
		margin-right: -3px;
		margin-top: -28px;
		height:25px;
		position: relative;
		z-index: 200;
		border:none;
	}
}
.navbar .nav>li>.dropdown-menu:before,
.navbar .nav>li>.dropdown-menu:after{
	content: none;
}
.theme-default .nivo-controlNav{
	padding: none;
	text-align: right;
	float: right;
	margin-top: -55px;
	margin-right: 10px;
	margin-left: 20px;
	position: relative;
	z-index: 200;
}
.theme-default .nivo-controlNav a{
	width:16px !important; 
}
.nivo-caption{
	background: url(/assets/caption-bg.png);
	text-shadow: 1px 1px 2px rgba(0,0,0,.25);
	opacity: 1;
	padding: 20px;
	padding-bottom: 30px;	
	h3, h4, p{
		line-height: 1.3em;
		margin:0;
		color: #fff;
	}
	p{
		font-size: 1.4em;
		padding: 0;
	}
}
.dropup-menu {
  bottom: 100%;
  top: auto !important;
}
.dropup-menu .dropup-menu {
  bottom: 100%;
  top: auto !important;
  margin-bottom:-45px;
}
.dropdown-submenu > a::after{
	content:none;
}
.with-thumb{
	h4{
		margin-top: 0;
	}
}
.explore-the-market.explore{
	margin-top: -100px;
}
.alert{
	position: absolute;
	top: 100px;
	z-index: 10;
	left: 47%;
	margin-left: -200px;
	width: 400px;
	box-shadow: 0px 0px 5px rgba(0,0,0,.25);
}
.game {
	height: 490px;
	width: 690px;
	margin-left: -345px;
	max-width: 90%;
}
.event .row-fluid .span6.img{
	width: 40%;
}
.event .row-fluid .span6.text{
	width: 58%;
	margin-left: 2%;
}
.event .row-fluid h4.green {
	margin-top: 0;
}