/*
font-family: 'Fjalla One', sans-serif;
font-family: 'Sanchez', serif;
font-family: 'Quattrocento Sans', sans-serif;
*/

body{
	border-top: solid 15px #b2de9a;
	font-family: 'Quattrocento Sans', sans-serif;
}
h1, h2, h3, h4{
	font-family: 'Sanchez', serif;
}
.logo-header{
	padding: 20px 0;
}
.ppm-foundation{
	margin-top: 73px;
	clear:right;
}
hr.edges{
	border: none;
	background: url(/assets/hr-edges.png) center center no-repeat;
	height:20px;
	clear: both;
}
ul.tags{
	float: right;
	margin-top: -15px;
	list-style: none;
	li{
		float: left;
		margin-right: 10px;
		a{
			display: block;
			width:55px;
			height:56px;
		}
		a:hover{
			opacity: 0.9;
		}
		.twitter{	background: url(/assets/tags-twitter-green.gif)	}
		.facebook{	background: url(/assets/tags-facebook-green.gif)	}
		.pinterest{	background: url(/assets/tags-pinterest-green.gif)	}
		.tumbler{	background: url(/assets/tags-tumbler-green.gif)	}
		.news{	background: url(/assets/tags-news-green.gif)	}
	}
	li.connect-arrow{
		margin-left: -20px;
		a{
			width:auto;	
		}
	}
}
.navbar.header{
	border-top: solid 1px #f28b00;
	height:30px;
	margin:0;
	.nav>li>a{
		font-family: 'Fjalla One', sans-serif;
		color: #c23c33;
		text-shadow: none;
		font-size: 1.6em;
		text-transform: uppercase;
		padding: 0 15px 0 5px;
		margin: 6px 15px 5px 0;
		border-left: solid 1px #f28b00;
		background: url(/assets/header-nav-down-arrow.gif) right center no-repeat;
	}
	.nav>li>a:hover, .nav>li>a.active{
		color: #f28b00;
	}
	.nav>li:first-child>a{
		border-left: none;
		padding-left: 0;
	}
	.nav>li:last-child>a{
		margin-right: 0;
	}
}
.navbar.secondary{
	background: url(/assets/secondary-nav-bg.gif) no-repeat;
	height:40px;
	margin:0;
	width:980px;
	padding: 0 47px;
	margin-left: -47px;
	.nav>li>a{
		font-family: 'Sanchez', serif;
		color: #fff;
		text-shadow: none;
		padding: 0px 20px;
		margin: 7px 10px;
		background: url(/assets/sub-nav-down-arrow.gif) right center no-repeat;
		border-left: solid 1px #f4a02e;
		font-style: italic;
	}
	.nav>li>a:hover, .nav>li>a.active{
		opacity:0.8;
	}
	.nav>li:first-child>a{
		border-left: none;
		padding-left: 0;
	}
}
.container{
	width:980px;
}
.content{
	clear: both;
	background: url(/assets/content-bg.gif);
	overflow: auto;
	width:980px;
	padding: 0 35px;
	margin-left: -35px;
	padding-bottom: 10px;
	.body{
		float:left;
		width:710px;
	}
	.sidebar.pad{
		width:240px;
		padding: 0 10px;
	}
	.sidebar{
		float: left;
		width:260px;
		margin-left: 10px;
		img{
			margin-bottom: 10px;
		}
		.indent{
			font-size: .9em;
			color: #777;
			li, p{
				line-height: 1.3em;
			}
		}
		h3{
			text-transform: uppercase;
			font-family: 'Fjalla One', sans-serif;
			text-align: center;
		}
		.nav{
			min-height: 275px;
			text-align: center;
			a{
				font-family: 'Sanchez', serif;
				color:#b12029;
				padding: 7px;
				font-weight: bold;
				font-style: italic;
			}
			a:hover, a.active{
				background: #fff;
				color:#f28b00;
				text-decoration: none;
			}
			li{
				border-top: solid 1px #b12029;
				ul{
					list-style: none;
					padding:0px;
					margin:0;
					padding-bottom: 5px;
					li{
						border:none;
						a{
							display: block;
							font-size: .9em;
							padding: 4px;
						}
					}
				}
			}
		} 
	}
}
footer{
	background: #c23c33;
	color:#fff;
	padding: 20px 0;
	.navbar{
		overflow: auto;
		width:790px;
		padding: 0 30px;
		background: url(/assets/footer-banner.png) no-repeat center center;
	}
	.navbar .nav>li{
		border-right: solid 1px #c94546;
		padding-right: 10px;	
	}
	.navbar .nav>li:last-child{
		padding-right: 0;
		border: none;
	}
	.navbar .nav>li>a{
		color: #fff;
		text-shadow: none;
		font-family: 'Sanchez', serif;
		font-size: 1.2em; 
		padding-right: 25px;
		background: url(/assets/footer-arrow.png) right center no-repeat;
	}
	.navbar .nav>li>a:hover, .nav>li>a.active{
		color: #fff;
		opacity:0.5;
	}
	.copyright{
		font-size: .8em;
		line-height: 1.1em;
		float: left;
		margin-left: -100px;
		margin-right: 30px;
	}
}
.market-directory-searchbox{
	margin-top: -14px;
	position: absolute;
	z-index: 999;
	background: #f28b00;
	width:261px;
	img{
		max-width: none;
	}
	form{
		padding: 10px 20px;
		margin-bottom: 0px;
		color: #fff;
		strong{
			display: block;
			font-size: .9em;
			text-transform: uppercase;
			margin-bottom: 5px;
		}
		select{
			border: none;
			color:#fff;
			-webkit-appearance: none;
			line-height: 1em;
			text-transform: uppercase;
			font-family: 'Quattrocento Sans', sans-serif;
			background: #f5c65d url(/assets/select-arrow.png) right center no-repeat;
		}
		input{
			border: none;
			background: #fff url(/assets/search-arrow.png) right center no-repeat;	
		}
	}
}
/*.dropdown-menu{
	padding: 0px;
	border:none;
	background: none;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	min-width: none;
}*/
.nav>.dropdown-submenu>a:after{
	border: none;
}
.nav>.dropdown-submenu>.dropdown-menu{
	/*margin-top: 29px;*/
	/*margin-left: -160px;*/
	left: 0;
	top: 35px;
}
.body, .sidebar{
	padding-bottom: 20px;
}
ul.feed{
	list-style: none;
	margin-left:0;
	padding-left: 0;
	padding-bottom: 20px;
	li{
		margin-left: 100px;
		margin-top: 20px;
		min-height: 55px;
		img{
			float:left;
			width:90px;
			margin-left: -100px
		}
	}
}
.indent{
	padding-left: 15px;
}
a.arrow{
	display: inline-block;
	padding-right: 20px;
	background: url(/assets/small-arrow.png) right center no-repeat;
}
a.arrow-white{
	background: url(/assets/small-arrow-white.png) right center no-repeat;
}
img.tag{
	float: left;
	margin: -28px 15px 10px 15px;
}
.tag-headline{
	margin-top: -10px;
	line-height: 1em;
	margin-bottom: 20px;
}
.info-thumb .info{
	background: #a1d784;
	opacity:.8;
	padding:10px;
	padding-top: 0;
	margin-top: -45px;
	height:35px;
	overflow: hidden;
	color: #fff;
	a{
		color: #fff;
	}
	h3{
		line-height: 1em;
	}
}
.accordion-heading{
	background: #91c376;
	font-family: 'Sanchez', serif;
	a{
		color: #fff;
		font-weight: bold;
	}
	a:hover{
		text-decoration: none;
	}
}
.accordion-group:nth-child(even) .accordion-heading{
	background:#bfd3a0;
}
.accordion-group .accordion-heading:hover{
	background: #eec773;
}
.btn-mini{
	padding: 0 4px;
	line-height: 1.6em;
	opacity:.75;
}